body {
    font-family: "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #2c2f33;
}

.logo > img{
    max-width:  10em;
    transform: rotate(90deg);
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.brand > h1 {
    margin: 0;
}

.container {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    width: 100%;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 120px 40px;
}

.picture {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(1.2);
}

.picture > img {
    max-width: 80%;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30em;
}

.description > h2 {
    font-weight: 700;
    font-size: 2em;
    max-width: 80%;
    margin-bottom: 0;
}

.button {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button > .login {
    background-color: #61dafb;
    color: #282c34;
    border-radius: 40px;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

.button > .register {
    background-color: #61dafb;
    color: #282c34;
    border-radius: 40px;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.odd {
    background-color: #f6f6fa;
}

.even {
    background-color: white;
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media {
    .logo:hover {
    animation-name: App-logo-spin;
    animation-duration: 2s;
    }
}

@keyframes move-pic {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

@media {
    .picture-animation {
        animation: move-pic  2s;
    }
}

@media {
    .picture {
        transition: opacity 2.2s ease, transform 2s ease;
    }
}

.picture-transition {
    opacity: 1;
    transform: none;
}

