<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin index</title>
</head>
<body>
<div th:include="fragments :: loginstatus(${user.userName})"></div>

<h3>Projects</h3>
<p>This is a list of projects you're managing.
    By clicking on the name of a project, you can go to the project's page, where you can update its progress.
</p>
<table>
    <tr><th>Project Name</th> <th>Project Owner</th> <th>Project Admins</th></tr>
    <tr th:each="project: ${projects}">
        <td><a th:text="${project.name}" th:href="'/admin/project/' + ${project.id}"></a></td>
        <td th:text="${project.owner}"></td>
        <td th:each="admin: ${project.admins}"><span th:text="${admin.name}"></span>
        </td>
    </tr>
</table>
<div th:replace="fragments :: footer"></div>
</body>
</html>