<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin index</title>
</head>
<body>
<p th:text="${user.name} + '\'s projects'"></p>
<table>
    <tr><th>Project Name</th> <th>Project Owner</th> <th>Project Admins</th></tr>
    <tr th:each="project: ${projects}">
        <td><a th:text="${project.name}" th:href="'/owner/project/' + ${project.id}"></a></td>
        <td th:text="${project.owner}"></td>
        <td th:each="admin: ${project.admins}"><span th:text="${admin.name}"></span>
        </td>
    </tr>
</table>
<div th:replace="fragments :: footer"></div>

</body>
</html>