.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body{
  height: 100vh;
}
#root{
  height: 100%;
}

#main-div{
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
@media (max-width: 576px){
  .dynamic-component-container{
    margin: 2%;
  }
}


@media (min-width: 576px){
  .dynamic-component-container{
    margin: 3%;
  }
}

@media (min-width: 768px){
  .dynamic-component-container{
    margin-left: 10%;
  }
}

@media (min-width: 960px){
  .dynamic-component-container{
    margin-left: 15%;
  }
}

@media (min-width: 1200px){
  .dynamic-component-container{
    margin-left: 20%;
  }
}


@media (min-width: 1400px) {
  .dynamic-component-container {
    margin-left: 25%;
  }
}
