.App-footer {
    background-color: #282c34;
    color: white;

    width: 100%;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    font-size: calc(2vmin);
}

.App-creators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.App-creator {
    text-decoration: none;
    color: grey;
    padding-left: 1em;
}

.App-creator:hover{
    text-decoration: none;
    color: white;
}

.email {
    text-decoration: none;
    color: grey;
}

.email:hover {
    text-decoration: none;
    color: white;
}